.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: whitesmoke;
  background-size: cover;
  border-right: 1px solid lightgrey;
}
