.containerLeftSide {
    display: flex;
    flex: 30%;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    background-size: cover;
    font-size: 40px;
    border-right: 1px solid lightgrey;
}
